<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sell.modules.store.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.sell.modules.store.entity.Order" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_no" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shipping_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shop_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shop_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shop_logo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shop_mobile" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="delivery_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="delivery_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="delivery_mobile" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="box_cost" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="send_cost" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="total_money" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="pay_money" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="pay_type" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="complete_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="status" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, user_id, shipping_id, shop_id, shop_name, shop_logo, shop_mobile,
    delivery_id, delivery_name, delivery_mobile, box_cost, send_cost, total_money, pay_money,
    pay_type, remark, complete_time,status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sell_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sell_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sell.modules.store.entity.Order" >
    insert into sell_order (id, order_no, user_id, 
      shipping_id, shop_id, shop_name, 
      shop_logo, shop_mobile, delivery_id,
      delivery_name, delivery_mobile, box_cost,
      send_cost, total_money, pay_money, 
      pay_type, remark, complete_time, 
      create_time, update_time)
    values (#{id,jdbcType=VARCHAR}, #{orderNo,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, 
      #{shippingId,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}, 
      #{shopLogo,jdbcType=VARCHAR}, #{shopMobile,jdbcType=VARCHAR}, #{deliveryId,jdbcType=VARCHAR},
      #{deliveryName,jdbcType=VARCHAR}, #{deliveryMobile,jdbcType=VARCHAR}, #{boxCost,jdbcType=DECIMAL},
      #{sendCost,jdbcType=DECIMAL}, #{totalMoney,jdbcType=DECIMAL}, #{payMoney,jdbcType=DECIMAL}, 
      #{payType,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, #{completeTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sell.modules.store.entity.Order" >
    insert into sell_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="shippingId != null" >
        shipping_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="shopLogo != null" >
        shop_logo,
      </if>
      <if test="shopMobile != null" >
        shop_mobile,
      </if>
      <if test="deliveryId != null" >
        delivery_id,
      </if>
      <if test="deliveryName != null" >
        delivery_name,
      </if>
      <if test="deliveryMobile != null" >
        delivery_mobile,
      </if>
      <if test="boxCost != null" >
        box_cost,
      </if>
      <if test="sendCost != null" >
        send_cost,
      </if>
      <if test="totalMoney != null" >
        total_money,
      </if>
      <if test="payMoney != null" >
        pay_money,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="completeTime != null" >
        complete_time,
      </if>
      <if test="status != null" >
        status,
      </if>
        create_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="shippingId != null" >
        #{shippingId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopLogo != null" >
        #{shopLogo,jdbcType=VARCHAR},
      </if>
      <if test="shopMobile != null" >
        #{shopMobile,jdbcType=VARCHAR},
      </if>
      <if test="deliveryId != null" >
        #{deliveryId,jdbcType=VARCHAR},
      </if>
      <if test="deliveryName != null" >
        #{deliveryName,jdbcType=VARCHAR},
      </if>
      <if test="deliveryMobile != null" >
        #{deliveryMobile,jdbcType=VARCHAR},
      </if>
      <if test="boxCost != null" >
        #{boxCost,jdbcType=DECIMAL},
      </if>
      <if test="sendCost != null" >
        #{sendCost,jdbcType=DECIMAL},
      </if>
      <if test="totalMoney != null" >
        #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="payMoney != null" >
        #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null" >
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      now(),
      now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sell.modules.store.entity.Order" >
    update sell_order
    <set >
      <if test="shippingId != null" >
        shipping_id = #{shippingId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopLogo != null" >
        shop_logo = #{shopLogo,jdbcType=VARCHAR},
      </if>
      <if test="shopMobile != null" >
        shop_mobile = #{shopMobile,jdbcType=VARCHAR},
      </if>
      <if test="deliveryId != null" >
        delivery_id = #{deliveryId,jdbcType=VARCHAR},
      </if>
      <if test="deliveryName != null" >
        delivery_name = #{deliveryName,jdbcType=VARCHAR},
      </if>
      <if test="deliveryMobile != null" >
        delivery_mobile = #{deliveryMobile,jdbcType=VARCHAR},
      </if>
      <if test="boxCost != null" >
        box_cost = #{boxCost,jdbcType=DECIMAL},
      </if>
      <if test="sendCost != null" >
        send_cost = #{sendCost,jdbcType=DECIMAL},
      </if>
      <if test="totalMoney != null" >
        total_money = #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="payMoney != null" >
        pay_money = #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null" >
      complete_time = #{completeTime,jdbcType=TIMESTAMP},
    </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_no = #{orderNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sell.modules.store.entity.Order" >
    update sell_order
    set order_no = #{orderNo,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=VARCHAR},
      shipping_id = #{shippingId,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      shop_logo = #{shopLogo,jdbcType=VARCHAR},
      shop_mobile = #{shopMobile,jdbcType=VARCHAR},
      delivery_id = #{deliveryId,jdbcType=VARCHAR},
      delivery_name = #{deliveryName,jdbcType=VARCHAR},
      delivery_mobile = #{deliveryMobile,jdbcType=VARCHAR},
      box_cost = #{boxCost,jdbcType=DECIMAL},
      send_cost = #{sendCost,jdbcType=DECIMAL},
      total_money = #{totalMoney,jdbcType=DECIMAL},
      pay_money = #{payMoney,jdbcType=DECIMAL},
      pay_type = #{payType,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      complete_time = #{completeTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectUserMobile" parameterType="String" resultType="String">
    select u.mobile
    from sell_order o
    left join sys_user u on u.id = o.user_id
    where o.order_no = #{orderNo}
  </select>
  <select id="selectDeliveryMobile" parameterType="String" resultType="String">
    select d.mobile
    from sell_order o
    left join sell_delivery d on d.id = o.delivery_id
    where o.order_no = #{orderNo}
  </select>
  <select id="selectUserId" parameterType="String" resultType="String">
    select user_id from sell_order
    where order_no = #{orderNo}
  </select>
  <select id="selectShopId" parameterType="String" resultType="String">
    select shop_id from sell_order
    where order_no = #{orderNo}
  </select>
  <select id="selectOrderByOrderNo" parameterType="String" resultType="com.sell.modules.store.entity.Order">
    select <include refid="Base_Column_List"/>
    from sell_order
    where order_no = #{orderNo}
  </select>
  <!--  商家端查看订单列表-->
  <select id="selectNewOrderList" parameterType="map" resultMap="newOrderMap">
    select o.id as id,
    o.order_no,
    o.remark,
    u.username,
    o.delivery_name,
    o.pay_money,
    o.status,
    oi.product_name as name,
    oi.number as num
    from sell_order o
    left join sys_user u on o.user_id = u.id
    left join sell_order_item oi on o.order_no = oi.order_no
    where o.shop_id = #{shopId}
    <if test="status != null and status != ''">
      and o.status = #{status}
    </if>
    <if test="orderNo != null and orderNo != ''">
      and o.order_no like #{orderNo}
    </if>
  </select>
<!--  用户端查看订单列表-->
  <select id="selectUserOrderList" parameterType="map" resultMap="UserOrderMap">
    select o.id as id,
    o.order_no,
    o.shop_id,
    o.shop_logo,
    o.shop_name,
    o.status,
    o.pay_money,
    o.create_time,
    oi.product_name as name,
    oi.number as num
    from sell_order o
    left join sell_order_item oi on o.order_no = oi.order_no
    where o.user_id = #{userId}
    <if test="orderNo != null and orderNo != ''">
      and o.order_no like #{orderNo}
    </if>
    order By o.create_time desc
  </select>
  <!--  骑手端查看订单列表-->
  <select id="selectDeliveryOrderList" parameterType="map" resultType="com.sell.modules.store.vo.DeliveryOrderVo">
    select o.order_no as orderNo,
    o.user_id as userId,
    s.name as shopName,
    s.address as shopAddress,
    si.address as userAddress,
    si.name as username,
    si.tel as mobile,
    s.delivery_time as deliveryTime,
    s.delivery_cost as deliveryCost
    from sell_order o
    left join sell_shop s on s.id = o.shop_id
    left join sell_shipping si on si.id = o.shipping_id
    where o.delivery_id = #{deliveryId}
    and o.status = #{status}
    /*and o.create_time > NOW()-INTERVAL 10 HOUR*/
  </select>

  <resultMap id="newOrderMap" type="com.sell.modules.store.vo.NewOrderVo">
    <id column="id" javaType="java.lang.String" jdbcType="VARCHAR" property="id" />
    <result column="order_no" javaType="java.lang.Long" jdbcType="BIGINT" property="orderNo" />
    <result column="username" javaType="java.lang.String" jdbcType="VARCHAR" property="username" />
    <result column="delivery_name" javaType="java.lang.String" jdbcType="VARCHAR" property="deliveryName" />
    <result column="remark" javaType="java.lang.String" jdbcType="VARCHAR" property="remark"/>
    <result column="pay_money" jdbcType="DECIMAL" javaType="java.math.BigDecimal" property="payMoney" />
    <result column="status" jdbcType="CHAR" javaType="java.lang.String" property="status" />
    <association property="carts" javaType="com.sell.modules.store.vo.Cart" resultMap="CartMap" column="id"/>
  </resultMap>
  <resultMap id="UserOrderMap" type="com.sell.modules.store.vo.UserOrderVo">
    <id column="id" javaType="java.lang.String" jdbcType="VARCHAR" property="id" />
    <result column="order_no" javaType="java.lang.Long" jdbcType="BIGINT" property="orderNo" />
    <result column="shop_id" javaType="java.lang.String" jdbcType="VARCHAR" property="shopId" />
    <result column="shop_logo" javaType="java.lang.String" jdbcType="VARCHAR" property="shopLogo" />
    <result column="shop_name" javaType="java.lang.String" jdbcType="VARCHAR" property="shopName" />
    <result column="status" jdbcType="CHAR" javaType="java.lang.String" property="status" />
    <result column="pay_money" jdbcType="DECIMAL" javaType="java.math.BigDecimal" property="payMoney" />
    <result column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" property="completeTime"  />
    <association property="carts" javaType="com.sell.modules.store.vo.Cart" resultMap="CartMap" column="id"/>
  </resultMap>
  <resultMap id="CartMap" type="com.sell.modules.store.vo.Cart">
    <result column="name" property="name"/>
    <result column="num" property="num"/>
  </resultMap>

</mapper>