<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sell.modules.store.dao.ShippingMapper" >
  <resultMap id="BaseResultMap" type="com.sell.modules.store.entity.Shipping" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tel" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="province" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="city" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="county" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address_detail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_default" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="del_flag" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, name, tel, province, city, county,area_code, address_detail, is_default
  </sql>
  <select id="selectByOrderNo" resultType="com.sell.modules.store.entity.Shipping" parameterType="java.lang.String" >
    select
    s.name, s.address_detail, s.tel
    from sell_shipping s
    left join sell_order o on o.shipping_id = s.id
    where o.order_no = #{orderNo}
  </select>
  <insert id="insert" parameterType="com.sell.modules.store.entity.Shipping" >
    insert into sell_shipping (user_id, name,
      tel, province, city,
      county,area_code, address_detail, is_default)
    values (#{userId}, #{name,jdbcType=VARCHAR},
      #{tel,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
      #{county,jdbcType=VARCHAR}, #{areaCode}, #{addressDetail,jdbcType=VARCHAR}, #{isDefault,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sell.modules.store.entity.Shipping" >
    insert into sell_shipping
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="addressDetail != null" >
        address_detail,
      </if>
      <if test="isDefault != null" >
        is_default
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null" >
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=CHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sell.modules.store.entity.Shipping" >
    update sell_shipping
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null" >
        address_detail = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag}
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sell.modules.store.entity.Shipping" >
    update sell_shipping
    set user_id = #{userId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      address_detail = #{addressDetail,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      update_time = now()
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectListByUserId" parameterType="integer" resultType="com.sell.modules.store.entity.Shipping">
    select <include refid="Base_Column_List"/>
    from sell_shipping
    where user_id = #{userId} and del_flag = 0
  </select>
  <select id="selectDefaultByUserId" parameterType="integer" resultType="com.sell.modules.store.entity.Shipping">
    select <include refid="Base_Column_List"/>
    from sell_shipping
    where user_id = #{userId}
    and is_default = '1'
  </select>
  <update id="updateDefault" parameterType="integer">
    update sell_shipping set is_default = '0'
    where user_id = #{userId}
    and is_default = '1'
  </update>
</mapper>